provider: local
ClusterLoader:
  cleanup: true
  projects:
    - num: 5
      basename: clusterproject
      ifexists: reuse
      templates:
        -
          num: 3
          file: ./build-config-template.json
        -
          num: 6
          file: ./build-template.json
        -
          num: 1
          file: ./image-stream-template.json
        - 
          num: 2   
          file: ./deployment-config-1rep-template.json
          parameters:
            -
              ENV_VALUE: "asodfn209e8j0eij0emc2oed2ed2ed2e2easodfn209e8j0eij0emc2oed2ed2ed2e2easodfn209e8j0eij0emc2oed2ed2ed2e2easodfn209e8j0eij0emc2oed2ed2ed2e2easodfn209e8j0eij0emc2oed2ed2ed2e2easodfn209e8j0eij0emc2oed2ed2ed2e2easodfn209e8j0eij0emc2oed2ed2ed2e2easodfn209e8j0eij12"
        -
          num: 1
          file: ./deployment-config-2rep-template.json
          parameters:
            -
              ENV_VALUE: "asodfn209e8j0eij0emc2oed2ed2ed2e2easodfn209e8j0eij0emc2oed2ed2ed2e2easodfn209e8j0eij0emc2oed2ed2ed2e2easodfn209e8j0eij0emc2oed2ed2ed2e2easodfn209e8j0eij0emc2oed2ed2ed2e2easodfn209e8j0eij0emc2oed2ed2ed2e2easodfn209e8j0eij0emc2oed2ed2ed2e2easodfn209e8j0eij12"
        -
          num: 20
          file: ./ssh-secret-template.json
        -
          num: 3
          file: ./route-template.json
        # rcs and services are implemented in deployments.
