STORAGE_DRIVER="{{ docker_storage_driver }}"
DEVS="{{ docker_storage_device }}"
VG="{{ docker_storage_vgname }}"
CONTAINER_ROOT_LV_MOUNT_PATH="{{ docker_storage_mount_path }}"
CONTAINER_ROOT_LV_NAME="docker-root-lv"
CONTAINER_ROOT_LV_SIZE=100%FREE
