[rhel-7-update-kernel]
name=rhel-7-update-kernel
baseurl={{ kernel_url }}
enabled=1
gpgcheck=0
skip_if_unavailable=1
sslclientcert=/var/lib/yum/client-cert.pem
sslclientkey=/var/lib/yum/client-key.pem
