[rhel-7-server-ansible]
name=rhel-7-server-ansible
baseurl={{ ansible_url }}
failovermethod=priority
enabled=1
gpgcheck=0
sslverify=0
sslclientcert=/var/lib/yum/client-cert.pem
sslclientkey=/var/lib/yum/client-key.pem
