# This is an example stac_config file. There must be a github repo hosting similar file
# with the same name, stac_config. 

# Provided url will be used to 'wget' STAC repo
stac_tar_url=http://my_tar_ball.tar.gz

# STAC main application thread will pinned to this core id
main_core=2

# Application thread responsible for sending messages will be pinned to this core id
sender_core=4

# Receiver thread will be pinned to this core id
receiver_core=6

# Physical interface name, eg.'eth0', on openshift nodes over which producer and consumer are connected.
# Assumption is being made that same interface names are same across nodes
iface_name=p5p1

# For a quick test(1000 messages and shorter time durations), set this to 'True'. 
enable_quick_test_mode=False

# set this to True for running STAC tests with onload. This will take care of configuration inside pods only.
# As a prerequisite, admin MUST install onload on the nodes.
enable_OpenOnloader=True

Onload_tar_url=http://www.openonload.org/download/openonload-201606-u1.2.tgz
