---
#- name: ensure local machine has necessary virt packages
#  yum: name=libguestfs-tools-c state=latest
#  become: true

- name: download base image file
  get_url:
    url: "{{ base_image_url }}"
    dest: "{{ tmp_dir }}"

- name: add empty space to disk image as specified in the inventory
  command: qemu-img resize {{ base_image_location }}  +{{ extend_disk_gb }}G

- name: create tmp disk for first resize pass
  command: qemu-img create -f {{ qemu_img_format }} -o preallocation=full {{ tmp_img_location }} {{ (extend_disk_gb+10)|int|abs }}G

- name: resize root partition from 6 to 10G
  command: virt-resize --quiet --resize {{ root_partition }}=+4G {{ base_image_location }} {{ tmp_img_location }}

- name: create tmp disk for adding second partition for docker thinpool
  command: qemu-img create -f {{ qemu_img_format }} -o preallocation=full {{ qemu_img_location }} {{ (extend_disk_gb+10+1)|int|abs }}G

- name: resize second partition to use all free space
  command: virt-resize --quiet --expand {{ docker_storage_device }} {{ tmp_img_location }} {{ qemu_img_location }}

- name: run virt-sysprep, set root password and inject ssh public key
  command:  virt-sysprep -a {{ qemu_img_location }} --root-password password:{{ root_password }} --ssh-inject root:string:"{{ ssh_pub_key }}"

- name: clean up temp images
  file:
    path: "{{ tmp_img_location }}"
    state: absent
