[Unit]
Description=pbench daemon
After=sshd.service

[Service]
EnvironmentFile=/proc/1/environ
ExecStart=/root/run.sh

[Install]
WantedBy=multi-user.target
