---
- name: clean yum cache
  shell:  yum clean all
  ignore_errors: true
  when: not atomic | default(False) | bool 

- block:
  - name: download aos-ansible tarball
    get_url:
      url: https://api.github.com/repos/openshift/aos-ansible/tarball/master
      dest: /root/aos-ansible.tar.gz
      headers: 'Authorization:token {{ github_token }},Accept:application/vnd.github.v3.raw'

  - name: create aos-ansible directory
    file:
      path: "{{ aos_ansible_path }}"
      state: directory

  - name: extract aos-ansible tarball
    command: /usr/bin/tar xzf /root/aos-ansible.tar.gz --strip=1 -C {{ aos_ansible_path }}

  - block:  
      - name: install internal rhel7-cdn repo
        template:
          src: etc/yum.repos.d/rhel7-internal-cdn.repo.j2
          dest: /etc/yum.repos.d/rhel7-internal-cdn.repo
          owner: root
          group: root
          mode: 0644
        when: internal_image | bool
  
      - name: install external rhel-cdn repo
        copy:
          src: "{{ aos_ansible_path }}/playbooks/roles/ops_mirror_bootstrap/files/rhel7next.repo"
          dest: /etc/yum.repos.d/
          remote_src: true
        when: not (internal_image | bool)
  
      - name: install external dockernext repo
        copy:
          src: "{{ aos_ansible_path }}/playbooks/roles/ops_mirror_bootstrap/files/dockernext.repo"
          dest: /etc/yum.repos.d/
          remote_src: true
        when: not (internal_image | bool)
  
      - name: install oso-rhui-rhel-server-releases
        copy:
          src: oso-rhui-rhel-server-releases.repo
          dest: /etc/yum.repos.d
  
      - name: install oso-rhui-rhel-server-releases-optional
        copy:
          src: oso-rhui-rhel-server-releases-optional.repo
          dest: /etc/yum.repos.d
  
      - name: install oso-rhui-rhel-server-extras
        copy:
          src: oso-rhui-rhel-server-extras.repo
          dest: /etc/yum.repos.d

      - name: install rhel-7-update-kernel-repo
        template:
          src: etc/yum.repos.d/rhel7-update-kernel.repo.j2
          dest: /etc/yum.repos.d/rhel7-update-kernel.repo
        when: docker_storage_driver == "overlay2" or update_kernel == "true"

      - name: install rhel-7-gluster-3.1-latest mirror.openshift.com repo
        copy:
          src: rhel7-gluster.repo
          dest: /etc/yum.repos.d

      - name: install rhel-7-ceph-2-latest mirror.openshift.com repo
        copy:
          src: rhel7-ceph.repo
          dest: /etc/yum.repos.d

      - name: install rhel-7-server-ansible-rpms mirror.openshift.com repo
        template:
          src: etc/yum.repos.d/rhel7-server-ansible.repo.j2
          dest: /etc/yum.repos.d/rhel7-server-ansible.repo

      - name: install rhel-7-fast-datapath-stage-rpms mirror.openshift.com repo
        copy:
          src: rhel7-fast-datapath-stage.repo
          dest: /etc/yum.repos.d

      #- name: install pbench-internal repo
      #  template:
      #    src: etc/yum.repos.d/pbench.repo.j2
      #    dest: /etc/yum.repos.d/pbench.repo
      #    owner: root
      #    group: root
      #    mode: 0644
      #  when: internal_image | bool

      - name: copy aos yum repository certificate
        copy:
          src: "{{ aos_ansible_path }}/playbooks/roles/ops_mirror_bootstrap/files/client-cert.pem"
          dest: /var/lib/yum/
          remote_src: true

      - name: copy aos yum repository key
        copy:
          src: "{{ aos_ansible_path }}/playbooks/roles/ops_mirror_bootstrap/files/client-key.pem"
          dest: /var/lib/yum/
          remote_src: true

      - name: copy pbench-interim repo to get latest pbench
        copy:
          src: ndokos-pbench-interim.repo
          dest: /etc/yum.repos.d

      - name: copy pbench-internal repo
        template:
          src: etc/yum.repos.d/pbench-internal.repo.j2
          dest: /etc/yum.repos.d/pbench-internal.repo

    when: not atomic | default(False) | bool 
  when: vm_install | default(True) | bool

- block:
    - name: install EPEL repo
      copy:
        src: epel.repo
        dest: /etc/yum.repos.d/

    - name: install pbench-external repo
      copy:
        src: ndokos-pbench-epel-7.repo
        dest: /etc/yum.repos.d/

    - name: create local yum repository configuration
      template:
        src: etc/yum.repos.d/all.repo.j2
        dest: /etc/yum.repos.d/all.repo
      when: not vm_install | default(True) | bool
  when: not atomic |  default(False) | bool 
