apiVersion: v1
kind: Service
metadata:
  annotations:
    description: Exposes and load balances the application pods
    service.alpha.openshift.io/dependencies: '[{"name": "{{.databaseServiceName}}",
      "kind": "Service"}]'
  name: {{.name}}
spec:
  ports:
  - name: web
    port: 8080
    targetPort: 8080
  selector:
    name: {{.name}}
    