[OSEv3:children]
masters

[OSEv3:vars]
qe_openshift_kerberos_user=user@domain.com
ansible_ssh_user=root
aos_repo={{ puddle_url }}
#prerelease_rhel7_repo_enable=False (Optional, True by default)

# You can specify the docker images versions to pull. To skip image pull,
#   then specify empty variable value. Otherwise `yum list atomic-openshift` is
#   used to obtain a matching images versions. In the event yum cannot find
#   that RPM, then `latest` version is used.
#qe_repo_image_prepull=True (Optional, True by default)
#qe_repo_aep_image_prepull=False (Optional, False by default)
#qe_repo_image_versions=v3.1.1.6
#qe_repo_image_versions=v3.1.1.900
qe_repo_image_versions={{ image_version }}

# New variables needed to set up the docker login and required
# authentication to registry, for image pulls:
docker_login=yes
reg_name={{ registry_name }}
reg_username={{ registry_username }}
reg_password={{ registry_password }}
## do not add the trailing slash:
reg_openshift_prefix={{ registry_name }}/openshift3

# Pulling s2i images from registry.access.redhat.com:
## reg_s2i_prefix=registry.access.redhat.com/openshift3

## point to registry.redhat.io
reg_s2i_prefix=registry.redhat.io/openshift3
 
# support login to Terms based Registry registry.redhat.io
reg_terms_based_name=registry.redhat.io
reg_terms_based_login={{ registry_redhat_io_login }}
reg_terms_based_username={{ registry_redhat_io_username }}
reg_terms_based_password={{ registry_redhat_io_password }}


[masters]
{% if not atomic %}
localhost
{% else %}
{{ inventory_hostname }}
{% endif %}
